%input{
    padding: .4em 4em .4em 1em;
    border: none;
    width: 100%;
    appearance: none;
    outline: none;
}

%blue_button{
    border: none;
    border-radius: 5px;
    background-color: rgb(47, 81, 224);
    color: white;
}

%form-fields{
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: .3em;
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
}